<!DOCTYPE html>
<html>
    <head th:insert="head.html">
        
    </head>
    <body>
        
        <cabecalho th:insert="cabecalho.html" />
        <h1>Cadastro de livros</h1>
        
        <form method="post" th:action="@{/livros/gravar}">
            <p>ID: <input type="hidden" th:field="${livro.id}"></p>
            <p>Nome: <input type="text" th:field="${livro.nome}"></p>
            <p>Autor: <input type="text" th:field="${livro.autor}"></p>
            
            <p>
                Lido:
                <input type="checkbox" th:field="${livro.disponivel}">
            </p>
            
            <button type="submit">Salvar</button>
        </form>
    </body>
</html>
